@import 'variables';
@import 'tablero';
@import 'juego';

html{
    width: 100%;
    font-size: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;

    &::selection{
        background-color: none;
        color: none;
    }
}

body, #padre{
    width: 100%;
    background-color: rgb(68, 107, 224);
}

#padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}


